#header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 40px 60px;

  nav {
    display: flex;
    justify-content: space-between;

    .left_section {
      display: flex;

      li {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
    .top_logo {
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.white_bg {
    nav {
      .left_section {
        li {
          a {
            color: #222;
          }
        }
      }
      .top_logo {
        img {
          content: url(../img/logo_green.svg);
        }
      }
      .hamburger_btn {
        img {
          content: url(../img/hamburger_green.svg);
        }
      }
    }
  }
}

#right_nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 100;

  ul {
    li {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 6px;
      margin-bottom: 50px;
      a {
        font-size: 24px;
        opacity: 0.6;
      }
      &::after {
        content: "";
        display: block;
        width: 40px;
        height: 2px;
        background-color: #fff;
        opacity: 0.6;
      }
      &:last-child {
        margin-bottom: 0;
      }

      &.active_now {
        a {
          opacity: 1;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &.white_bg {
    ul {
      li {
        a {
          color: #666;
          opacity: 1;
        }
        &::after {
          content: "";
          display: block;
          width: 40px;
          height: 2px;
          background-color: #666;
        }

        &.active_now {
          a {
            color: #006736;
            opacity: 1;
          }
          &::after {
            content: "";
            display: block;
            width: 40px;
            height: 2px;
            background-color: #006736;
          }
        }
      }
    }
  }
}

#fullpage {
  .intro {
    background-image: url(../img/intro_bg.png);
    background-size: cover;
    position: relative;

    .center_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 36px;

      h1 {
        font-size: 94px;
        font-weight: 500;
      }
      .line {
        width: 2px;
        height: 20px;
        background-color: #fff;
      }
      p {
        font-size: 32px;
      }
    }
  }
  .east_course {
    background-image: url(../img/east_course.png);
    background-size: cover;
  }
  .south_course {
    background-image: url(../img/south_course.png);
    background-size: cover;
  }
  .west_course {
    background-image: url(../img/west_course.png);
    background-size: cover;
  }
  .family_site {
    .links {
      padding-left: 60px;
      padding-right: 252px;
      .texts {
        h2 {
          color: #222;
        }
        p {
          color: #222;
        }
      }
    }
  }
  .common_center_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 100px;
    .left_section {
      max-width: 740px;
      h2 {
        font-size: 94px;
        font-weight: 500;
        margin-bottom: 70px;
      }
      .texts {
        h3 {
          font-size: 28px;
          font-weight: 500;
          margin-bottom: 30px;
        }
        p {
          line-height: 32px;
          font-size: 22px;
        }
      }
    }
    .right_section {
      display: flex;
      align-items: flex-end;
      .view {
        position: relative;
        span {
          font-size: 70px;
        }
        .arrow_right {
          width: 142px;
          height: 24px;
          background-image: url(../img/arrow_right.png);
          background-size: 100% 100%;
          position: absolute;
          bottom: -14px;
          right: -27px;
          transition: all 0.3s;
        }

        &:hover {
          .arrow_right {
            transform: translateX(15px);
          }
        }
      }
    }
  }
  .animation_text {
    &.active_now {
      animation: fadeIn 1.5s;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
