#header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 40px 60px;
}
#header nav {
  display: flex;
  justify-content: space-between;
}
#header nav .left_section {
  display: flex;
}
#header nav .left_section li {
  margin-right: 20px;
}
#header nav .left_section li:last-child {
  margin-right: 0;
}
#header nav .top_logo {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#header.white_bg nav .left_section li a {
  color: #222;
}
#header.white_bg nav .top_logo img {
  content: url(../img/logo_green.svg);
}
#header.white_bg nav .hamburger_btn img {
  content: url(../img/hamburger_green.svg);
}

#right_nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 100;
}
#right_nav ul li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  margin-bottom: 50px;
}
#right_nav ul li a {
  font-size: 24px;
  opacity: 0.6;
}
#right_nav ul li::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fff;
  opacity: 0.6;
}
#right_nav ul li:last-child {
  margin-bottom: 0;
}
#right_nav ul li.active_now a {
  opacity: 1;
}
#right_nav ul li.active_now::after {
  opacity: 1;
}
#right_nav.white_bg ul li a {
  color: #666;
  opacity: 1;
}
#right_nav.white_bg ul li::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #666;
}
#right_nav.white_bg ul li.active_now a {
  color: #006736;
  opacity: 1;
}
#right_nav.white_bg ul li.active_now::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #006736;
}

#fullpage .intro {
  background-image: url(../img/intro_bg.png);
  background-size: cover;
  position: relative;
}
#fullpage .intro .center_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
#fullpage .intro .center_text h1 {
  font-size: 94px;
  font-weight: 500;
}
#fullpage .intro .center_text .line {
  width: 2px;
  height: 20px;
  background-color: #fff;
}
#fullpage .intro .center_text p {
  font-size: 32px;
}
#fullpage .east_course {
  background-image: url(../img/east_course.png);
  background-size: cover;
}
#fullpage .south_course {
  background-image: url(../img/south_course.png);
  background-size: cover;
}
#fullpage .west_course {
  background-image: url(../img/west_course.png);
  background-size: cover;
}
#fullpage .common_center_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 100px;
}
#fullpage .common_center_text .left_section {
  max-width: 740px;
}
#fullpage .common_center_text .left_section h2 {
  font-size: 94px;
  font-weight: 500;
  margin-bottom: 70px;
}
#fullpage .common_center_text .left_section .texts h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}
#fullpage .common_center_text .left_section .texts p {
  line-height: 32px;
  font-size: 22px;
}
#fullpage .common_center_text .right_section {
  display: flex;
  align-items: flex-end;
}
#fullpage .common_center_text .right_section .view {
  position: relative;
}
#fullpage .common_center_text .right_section .view span {
  font-size: 70px;
}
#fullpage .common_center_text .right_section .view .arrow_right {
  width: 142px;
  height: 24px;
  background-image: url(../img/arrow_right.png);
  background-size: 100% 100%;
  position: absolute;
  bottom: -14px;
  right: -27px;
  transition: all 0.3s;
}
#fullpage .common_center_text .right_section .view:hover .arrow_right {
  transform: translateX(15px);
}
#fullpage .animation_text.active_now {
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}